
###########
## Scala ##
###########

target/
*.class
*.log

############
## Python ##
############

venv/


############
## System ##
############

# OSX
.DS_Store
*.DS_Store

############
## Images ##
############

*.jpg
*.jpeg
*.png
*.bmp
*.psd

######################
## Tooling Specific ##
######################

.idea/
*.swp
.projections.json

#########
## IDE ##
#########
.editorconfig